.product-carousel {
    position: relative;
    overflow: hidden;
    padding: 26px;
    margin-top: 7%;
}

.product-container {
    padding: 0 10px;
    margin: 60px;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.pre-btn,
.next-btn {
    border: none;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
}

.next-btn {
    right: 20px;
}

.next-btn p,
.pre-btn p {
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.436);
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    width: 50px;
    height: 30px;
    cursor: pointer;
}